.vehicles {
    &__container {
        padding: 50px;
    }
    
}

.addbtn{
    margin-bottom: 1em;
    i{
        margin-left: 5px;
    }
}

.seat-tile {
    border: solid gray 1px;
    border: solid #c0c9d1 1px;
    background-color: silver;
    background-color: #dce0e3;
    padding: 20px;
    text-align: center;
}