.drivers {
    &__container {
        padding: 50px;
    }
}


.fg-add-driver{
    p{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: -2.5px;
    }
    .col-sm-6 {
        margin-top: 30px;
    }
}